html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 150%;
}

code {
  font-family: "Inconsolata", monospace;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 10%;

  height: 100%;
  width: 80%;

  text-align: center;
  visibility: hidden;
}

.slide.current {
  visibility: visible;
}

.slide ul,
.slide pre {
  width: fit-content;
  width: intrinsic;
  margin: auto;

  text-align: left;
}

code {
  font-family: "Inconsolata", monospace;
  font-size: 125%;
}

[data-layout="title-only"] h1 {
  position: absolute;
  top: calc(50% - 32px);
  left: 0;
  right: 0;

  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
}

[data-layout="title-subtitle"] h1 {
  position: absolute;
  top: calc(50% - 48px);
  left: 0;
  right: 0;

  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}

[data-layout="title-subtitle"] h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
}
